<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Find Free Ebooks</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>

  <body class="container">
    <header>
      <h1>Find free ebooks</h1>
    </header>
    <main>
      <%= yield %>

   </main>
    <footer>
      <div class="footer">
        <p>Copyright &copy Katie Fritz, 2015</p>
      </div>
    </footer>
  </body>
</html>
