<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Find Free Ebooks</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>

  <body class="container">
    <header>
      <h1>Find free ebooks</h1>
    </header>
    <main>
      <section>
        <form action="/results">
          <label for="keyword">Keyword search</label>
          <input type="text" name="keyword" value="">
        </form>
      </section>
    </main>
  </body>
</html>
