
.card {
  background-color: white;
  padding: 10px 10px;
  margin: 10px 0px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input, select {
  margin-bottom: 20px;
}

button {
  font-size: 1.5em;
  font-weight: 700;
  color: green;
}

a {
  text-decoration: underline;
  font-weight: 700;
}

img {
  max-width: 100%;
}
